.custom-input_type_text
{
    font: 14px/14px 'Open Sans', sans-serif;

    box-sizing: border-box;

    width: 100%;
    padding: 10px;

    border: 1px solid #b7b6b6;
    border-radius: 6px;

    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.05);

    transition: border-color 0.2s ease-in;
}

.custom-input_type_text:focus
{
    border-color: #448ccb;
}