.custom-input_type_button
{
    font: bold 14px/19px 'Open Sans', sans-serif;

    position: relative;

    display: inline-block;
    box-sizing: border-box;

    width: 100%;
    padding: 10px;

    border-radius: 6px;
    border: 1px solid #999;

    color: #454545;
    background: linear-gradient(to bottom,
                    #ebeae9 0%,
                    #eae9e8 51%,
                    #dfdedd 52%,
                    #d6d5d3 100%
                );

    text-shadow: 0 1px 1px rgba(255,255,255,1);

    cursor: pointer;
}

.custom-input_type_button:after
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;


    border-radius: 5px;
    border: 1px solid transparent;
    border-top-color: rgba(255,255,255, 0.9);

    content: "";
}

.custom-input_type_button:focus
{
    border-color: #448ccb;
}

.custom-input_type_button:hover
{
    border-color: #0b4164;

    color: #fff;
    background: linear-gradient(to bottom,
                    #98c6ef 0%,
                    #76abd9 51%,
                    #1e87b4 52%,
                    #1e87b4 100%
                );

    text-shadow: none;


}

.custom-input_type_button:active
{
    border-color: #999;
    box-shadow: inset 0 3px 8px rgba(0,0,0, 0.4);
}

.custom-input_type_button:hover:active
{
    border-color: #0b4164;
    box-shadow: inset 0 3px 8px rgba(0,55,78, 0.8);
}

.custom-input_type_button:active:after,
.custom-input_type_button:hover:active:after
{
    display: none;
}
