.custom-input_action_submit
{
    border: 1px solid #288300;

    color: #fff;

    text-shadow: none;

    background: linear-gradient(to bottom,
                    #8ee264 0%,
                    #5fb634 51%,
                    #129a00 52%,
                    #129a00 100%
                );
}

.custom-input_action_submit:active
{
    border-color: #288300;

    box-shadow: inset 0 3px 8px rgba(12,67,4, 0.8);
}
