@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body
{
    font: 14px 'Open Sans', sans-serif;

    padding: 95px;

    color: #333;
    background: #f6f5f5;
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}

input:focus,
button:focus
{
    outline: none;
}

::-webkit-input-placeholder
{
    font: 14px 'Open Sans', sans-serif;

    color: #999;
}

:-moz-placeholder
{
    font: 14px 'Open Sans', sans-serif;

    color: #999;
}

::-moz-placeholder
{
    font: 14px 'Open Sans', sans-serif;

    color: #999;
}

:-ms-input-placeholder
{
    font: 14px 'Open Sans', sans-serif;

    color: #999;
}

:link,
:visited
{
    color: #448ccb;

    text-decoration: none;

    transition: color 0.2s ease-in;
}

:link:hover,
:visited:hover
{
    color: #bc2020;
}