.ruler
{
    background: linear-gradient(to right,
                                transparent 0%,
                                transparent 50%,
                                #d2d0d0 50%,
                                #d2d0d0 100%
                ),
                linear-gradient(to right,
                    #f6f6f6 0%,
                    #f6f6f6 50%,
                    transparent 50%,
                    transparent 100%
                );

    background-size: 6px 1px, 6px 2px;
    background-position: 0 calc(100% - 1px), 0 100%;
    background-repeat: repeat-x, repeat-x;
}