.todo-app__list
{
    padding-bottom: 80px;
}

.todo-app__item:nth-child(odd)
{
    background: #F4F7FA;
}

.todo-app__item .custom-input__label
{
    position: relative;

    display: block;

    padding: 15px 20px;
}

.todo-app__placeholder
{
    background: red;
    height: 20px;
}

.todo-app__item .custom-input:checked + .custom-input__label
{
    color: #999;
    text-decoration: line-through;
}

.todo-app__delete
{
    position: absolute;
    top: 50%;
    right: 45px;

    margin-top: -8px;

    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.todo-app__delete:after
{
    font-size: 18px;

    line-height: 0;

    color: #bfbbbb;

    content: '×';
}

.todo-app__delete:hover:after
{
    color: inherit;
}

.todo-app__item.dragging
{
    pointer-events: none;
}

.todo-app__item .custom-input__label:hover .todo-app__delete,
.todo-app__item .custom-input__label:hover .drag
{
    opacity: 1;
}

.todo-app__foot
{
    font-size: 13px;

    padding: 20px;
}

.todo-app__foot-list
{
    display: flex;
}

.todo-app__info,
.todo-app__markall
{
    flex-grow: 1;
}

.todo-app__info
{
    color: #999;
}

.todo-app__markall
{
    text-align: right;
}

.todo-app__markall.disabled
{
    pointer-events: none;

    color: #999;
}