script(src='http://yastatic.net/jquery/2.1.3/jquery.min.js')
script(src='/javascripts/riot.js')
script(src='/javascripts/app.js')
script(src='/javascripts/login.js')
script(src='/javascripts/todo-app.js')
