.footer
    font-size 13px

    padding 20px

    &__layout
        display flex

    &__info,
    &__markall
        flex-grow 1

    &__info
        color #999

    &__markall
        color #3c88c4
        cursor pointer
        text-align right

    &__markall.disabled
        pointer-events none

        color #999
