.todos
    &__item
        position relative

    &__item_drag &__text
        background #060 !important


    &__item_drag-before:before,
    &__item_drag-after:after
        position absolute
        left 0
        z-index 1

        width 100%
        height 2px

        content ''
        pointer-events none

        background red

    &__item_drag-before:before
        top -1px

    &__item_drag-after:after
        bottom -1px

    &__item:nth-child(odd) &__text
        background #F4F7FA

    &__text
        display block

        padding 15px 20px

    &__cbox:checked + &__text
        color #999
        text-decoration line-through

    &__delete
        position absolute
        top 50%
        right 45px

        margin-top -8px

        opacity 0
        transition opacity 0.3s ease-in

    &__delete:after
        font-size 18px

        line-height 0

        color #bfbbbb

        content '×'

    &__delete:hover:after
        color inherit

    &__item:hover &__delete,
    &__item:hover .drag
        opacity 1
