.oauth-btn
  @extend $button-reset

  font-size 21px

  box-sizing border-box
  width 35px
  height 35px
  line-height 35px

  color #999
  border-radius 50%

  transition 0.3s background, 0.3s color

  &:hover
    color #fff
    background #999
